* {
    margin: 0;
    padding: 0;
}


/* to remove the top and left whitespace */

html,
body {
    width: 100%;
    height: 100%;
    background-color: black;
}


/* just to be sure these are full screen*/

canvas {
    display: block;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
}

#top-bar-container {
    justify-content: space-evenly;
    display: flex;
    width: auto;
    height: 7vh;
    background-color: rgb(60, 255, 255);
    button.clickable:hover {
        opacity: 1;
        cursor: pointer;
        box-shadow: 0 12px 16px 0 rgba(114, 84, 84, 0.24), 0 17px 50px 0 rgba(238, 232, 232, 0.19);
    }
    button.unclickable:hover {
        opacity: .5;
        cursor: auto;
    }
}

#title {
    color: black;
    font-family: "Lucida Console";
    position: absolute;
    left: 0;
}

#algo-buttons {
    align-self: center;
}

#links {
    display: flex;
    position: absolute;
    right: 1vw;
    align-self: center;
    #linkedin {
        width: 2vw;
        height: 2vw;
    }
    #github {
        width: 2vw;
        height: 2vw;
    }
}

:focus {
    border: 0;
    outline: 0;
}

#button-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    button:not(.unclickable):hover {
        opacity: 1;
        cursor: pointer;
        box-shadow: 0 12px 16px 0 rgba(114, 84, 84, 0.24), 0 17px 50px 0 rgba(238, 232, 232, 0.19);
    }
}

button {
    background-color: black;
    color: white;
    box-shadow: none;
    border: 0;
    height: 4vh;
    width: 8vw;
    min-width: 90px;
    opacity: .5;
    transition: .5s;
}