* {
  margin: 0;
  padding: 0;
}

/* to remove the top and left whitespace */

html,
body {
  font-family: "Lucida Console", "Courier new", Airal;
  width: 100%;
  height: 100%;
  background-color: black;
}

/* just to be sure these are full screen*/

canvas {
  display: block;
}

body {
  overflow-x: hidden;
}

#top-bar-container {
  justify-content: space-evenly;
  display: flex;
  width: auto;
  height: 7vh;
  background-color: rgb(60, 255, 255);
}

#algo-buttons {
  display: table-cell;
  vertical-align: middle;
  button {
    border-top: 5px solid black;
    padding-bottom: 5px;
    font-size: 75%;
    text-align: center;
    width: 11vw;
    height: 5vh;
    min-width: 120px;
    min-height: 20px;
    margin: 2px;
  }

  button.selectedButton {
    border-top: 5px solid yellowgreen;
    padding-bottom: 5px;
    opacity: 1;
    font-weight: 300;
    cursor: default;
  }
  button.clickable.selectedButton:hover {
    cursor: default;
  }
  button.unclickable {
    opacity: 0.5;
    cursor: default;
  }
  button.clickable:hover {
    opacity: 1;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(114, 84, 84, 0.24),
      0 17px 50px 0 rgba(238, 232, 232, 0.19);
  }
  button.unclickable:hover {
    opacity: 0.5;
    cursor: auto;
  }
}

#sub-top-bar-container {
  background-color: rgb(60, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh;
  #tutorial-info {
    width: 5vh;
    height: 5vh;
    margin-left: 1vw;
  }

  a:hover {
    cursor: pointer;
  }
}

#sliceLoad {
  border-top: 5px solid yellowgreen;
  position: absolute;
  right: 84%;
  left: 0;
  top: 0;
}
#sliceButtonContainer {
  position: relative;
  width: 8vw;
  height: 4vh;
  min-width: 90px;
  margin-left: 1vw;
}

#forwardButtonContainer {
  position: relative;
  width: 8vw;
  height: 4vh;
  min-width: 90px;
  margin-left: 1vw;
}
#forwardLoad {
  border-top: 5px solid yellowgreen;
  position: absolute;
  right: 0%;
  left: 0;
  top: 0;
}

#title {
  color: black;
  position: absolute;
  left: 0;
  align-self: center;
  margin-left: 1vw;
  h3 {
    font-size: 100%;
  }
  h1 {
    font-size: 200%;
  }
}

.links {
  display: flex;
  position: absolute;
  right: 1vw;
  align-self: center;
  .profile-links {
    width: 2vw;
    height: 2vw;
    min-width: 25px;
    min-height: 25px;
    margin-right: 1vw;
    margin-left: 1vw;
    opacity: 1;
    transition: 0.3s;
  }
  .profile-links:hover {
    opacity: 0.65;
    transform: scale(1.4);
  }
}

:focus {
  border: 0;
  outline: 0;
}

#button-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 40px;
  button:not(.unclickable):hover {
    opacity: 1;
    cursor: pointer;
    border-right: 1px solid gray;
    border-left: 1px solid gray;

    box-shadow: 0 12px 16px 0 rgba(114, 84, 84, 0.24),
      0 17px 50px 0 rgba(238, 232, 232, 0.19);
  }
  button {
    font-size: 110%;
    margin-right: 1vw;
  }
}

button {
  font-family: inherit;
  background-color: rgb(0, 0, 0);
  color: white;
  box-shadow: none;
  border: 0;
  height: 4vh;
  width: 8vw;
  min-width: 90px;
  opacity: 0.5;
  transition: 0.3s;
  position: relative;
}

.show-modal {
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: auto; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.637); /* Black w/ opacity */

  .modal-content {
    background-color: rgb(60, 255, 255);
    /* 15% from the top and centered */
    margin: 16vh auto;
    padding: 2vw;
    width: 85vw; /* Could be more or less, depending on screen size */
    max-width: 1300px;
    height: auto;
    /* The Close Button */
    .close {
      color: black;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: firebrick;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
.hide-modal {
  display: none;
}

.tutorial-text {
  grid-area: info;
}

.tutorial-gif {
  grid-area: gif;
}
.how-to {
  grid-template-areas: "gif info";
  img {
    height: auto;
    width: inherit;
    max-width: 45vw;
    margin: 2vw;
  }
}

.visible {
  display: grid;
}

.invisible {
  display: none;
}

button.modal-tabs.on {
  opacity: 1;
  border-top: 5px solid greenyellow;
}

button.off {
  cursor: pointer;
  border-top: 5px solid black;
}

.magenta {
  color: #ff00ff;
}
.yellow {
  color: yellow;
}
.red {
  color: red;
}
.legend p {
  color: white;
  text-align: center;
  font-size: 80%;
}

.tutorial-text p,
.tab.about p {
  font-weight: bold;
}
